<nav class="navbar navbar-light bg-light">
  <%= link_to 'LenAirBnB', flat_path, class:"navbar-brand" %>
  <%= link_to 'Back to Home', flat_path, class:"navbar-brand" %>
</nav>

<div class="container">

</div>
